@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}
html,
body {
  height: 100%;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  border-bottom: 2px solid white;
  margin: 1px;
  height: 13%;
}
@media (max-width: 700px) {
  header {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header .logo {
  cursor: pointer;
  margin-right: auto;
}
header .nav_links {
  list-style: none;
}
header .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
header .nav_links li a {
  transition: all 0.3s ease 0s;
}
header .nav_links li a:hover {
  color: #fbff0d;
}
button {
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
h1 {
  color: #edf0f1;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 66px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.intro {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: white;
}
.intro .code {
  width: 300px;
  color: #edf0f1;
  margin-left: auto;
  font-family: "Montserrat", sans-serif;
  padding: 50px;
}
.intro h2 {
  color: #edf0f1;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  padding-bottom: 30px;
}
.intro .graphic {
  width: 300px;
  color: #edf0f1;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  padding-top: 52px;
}
.intro h2 {
  color: #edf0f1;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  padding-bottom: 30px;
}
.work-history {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.work-history .places {
  width: 300px;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  padding: 3px;
  margin: 2px;
}
.work-history .places h2 {
  color: #edf0f1;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.work-history .places ul {
  line-height: 1.3;
  padding: 4px;
}
.contact {
  margin: 12px;
  padding: 10px;
  border: 2px solid white;
  width: 88px;
}
footer {
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: center;
  color: white;
}
