@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

@hover-color: #fbff0d;

@font-color: #edf0f1;

.displayflex(){
	display: flex;
	justify-content: space-around;
	text-align: center;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;
}

html, body {
	height: 100%;
	
}



li, a, button {
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 20px;
color: #edf0f1;
text-decoration: none;
}

header {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 2px solid white;
    margin: 1px;
	height: 13%;
	
	
	@media ( max-width: 700px ) {
		justify-content: center;
	  }
	  
	  @media ( max-width: 500px ) {
		flex-direction: column;
		
	  }

	.logo {
		cursor: pointer;
		margin-right: auto;
	}

	.nav_links {
		list-style: none;
		
		li {
			display: inline-block;
			padding: 0px 20px;

			a {
				transition: all 0.3s ease 0s;
			}
			
			a:hover {
				color: @hover-color;
			}
		}
	}
}

button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

h1 {
	color: @font-color;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 66px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.intro {
	.displayflex();
	background: white;

	.code {
		width: 300px;
		color: @font-color;
		margin-left: auto;
		font-family: "Montserrat", sans-serif;
		padding: 50px;
		}
		
	h2 {
		color: @font-color;
		font-family: Helvetica, sans-serif;
		font-weight: bolder;
		font-size: xx-large;
		padding-bottom: 30px;
		
	}
	
	.graphic {
		width: 300px;
		color: @font-color;
		margin-right: auto;
		font-family: "Montserrat", sans-serif;
		padding-top: 52px
		}
		
	h2 {
		color: @font-color;
		font-family: Helvetica, sans-serif;
		font-weight: bolder;
		font-size: xx-large;
		padding-bottom: 30px;
		
	}
}

.work-history{
	.displayflex();
	
	

	.places {
	
		width: 300px;
		color: @font-color;
		font-family: "Montserrat", sans-serif;
		padding: 3px;
		margin: 2px;

		h2 {
			color: @font-color;
			font-family: Helvetica, sans-serif;
			font-weight: bolder;
			font-size: 20px;
			padding-bottom: 10px;
			padding-top:5px;
		}

		ul{
			line-height: 1.3;
			padding: 4px;
		}
		
	}
}

.contact{
	margin: 12px;
	padding: 10px;
	border: 2px solid white;
	width: 88px
}

footer {
	display: flex;
	height: 50px;
	text-align: center;
	justify-content: center;
	color: white;
	
}

